*{
    margin: 0;
    padding:0;
}
header{
    display:block;
}
header h2{
    width: 100%;
    padding : 10px;
    text-align: center;
    background: red;
    color: azure;
}
.imgMenu{
    display:flex
}

.imgMenu img{
    width:25%;
    padding:15px;
}
nav {
   /* border: solid;*/
    display: flex;
    align-items:end;
    padding: 15px;
    width: 50%;
}
nav ul{
    display: flex;
    width: 100%;
    /*border: solid;*/
    justify-content: space-evenly

    
}
nav li {
    font-size: 20px ;
    /*border: solid ;*/
    display: inline;
    text-decoration: none;
    padding: 10px;
   
}
.pesquisa{
    display:block;
    margin-top:5% ;
    width:25% ;
   /* border: solid;*/
}
.pesquisa input{
      width: 80%;
      height:30px;
      border-radius:15px ;
}
main{ 
    background-color: #8e8e8e;
    background-image: url(images/fundo.jpg);
    width:100%;
    height:100%;
}

main h1{
   padding: 15px;
}
.card{
    /*border: solid;*/
    margin-left:40px;
    border-radius:15px;
    width:300px;
    background:#ffffff;
    height:590px;
}
.fav{

    padding-top: 7px;
    padding-right:7px ;
    text-align: end;
}
.produto img{
    width:100%;
}
.descPro{
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}
.valorAntigo{
    padding-top: 15px;
    padding-inline:15px ;
    width:100% ;
    
}
 .valorAtual{
    width: 100%;
    text-align: center;
    font-size:30px;
    padding-top: 15px;
 }
 .butom{
    padding:10px;
    display: flex;
    justify-content: space-around;
 }

button{
    font-size:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content:space-evenly;
    display:flex;
    align-items:center;
    background-color: rgb(187, 245, 255);
    height:40px;
    width: 95%;
    border-radius:10px;
    padding:20px;
    border:none;
}
 
button.img{

}