*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display: inline-table;
   /* border:solid ;*/
}
header{
    background:whitesmoke;
    background-size: cover;
    display:block;
}
header h2{
     width: 100%;
    padding : 10px;
    text-align: center;
    background: #269c65;
    color: azure;
}
.imgMenu{
    display:inline-flex;
}

.imgMenu img{
    width:25%;
    padding:15px;
}
nav {
    display: flex;
    align-items:center;
    padding: 15px;
    width: 80%;
}
 li :visited {
 color: black;
}
li:hover{
    font-size: 23px;
    color : green;
}

nav ul{
    /*border:solid;*/
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly   
}
nav li {
    /*border:solid;*/
    font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-size: 20px ;
    display:inline-flex;
    padding: 10px;   
}
li a{
    text-decoration: none;
}
hr{
 border: solid 2px  #6b8478;;
}
main{ 

    background-color: #ffffff;
    /*background-image: url(images/fundo.jpg);*/
    background-size:cover;
    width: 100%;
    

}

main h1{
    text-align: center;
    padding:40px;
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans';
    font-size: 30px;  }

.filera{
   /* border:solid;*/
    /*margin:15px;*/
    padding-top: 15px;
    padding-right: 40px;
    display:flex;
    justify-content: space-evenly;
    margin-bottom:50px;
}
.card:hover{
   border: solid 0.25px rgba(128, 128, 128, 0.142);
    box-shadow:8px 8px 10px #587658bd;
    /*background-color: #66c780d9;+*/
}
.card{
    display:grid;
    padding-bottom: 5px;
    margin-left:40px;
    border-radius:15px;
    width:300px;
    background:#ffffff;
   
}
.descPro {
    font-size:10px;
}

.fav{

    padding-top: 7px;
    padding-right:7px ;
    text-align: end;
}
.produto img{
    width:100%;
}
.descPro{
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}
.valorAntigo{
    text-align: center;
    padding-top: 15px;
    padding-inline:15px ;
    width:100% ;
    
}
 .valorAtual{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    text-align: center;
    font-size:30px;
    padding-top: 15px;
 }
 .butom{
    /*border: solid;*/
    padding:10px;
    display: flex;
    justify-content: space-around;
 }

button{
    font-size:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content:space-evenly;
    display:flex;
    align-items:center;
    background-color: rgb(149, 152, 148);
    height:40px;
    width:70%;
    border-radius:5px;
    padding:20px;
    border:none;
   
}
 
button.img{

}
footer{
    height: 100px;
    background-color: aliceblue;
}