*{
    margin: 0;
    padding:0;
}
header{
    background: url(images/fundo1.jpg);
    background-size: cover;
    display:block;
}
header h2{
    width: 100%;
    padding : 10px;
    text-align: center;
    background: #269c65;
    color: azure;
}
.imgMenu{
    display:flex
}

.imgMenu img{
    width:25%;
    padding:15px;
}
nav {
    display: flex;
    align-items:end;
    padding: 15px;
    width: 50%;
}
li:hover{
    font-size: 25px;
    color : green;
}
 li :visited {
 color: black;
}

nav ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly   
}
nav li {
    font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-size: 20px ;
    display: inline;
     padding: 10px;   
}
li a{
    text-decoration: none;
}
.pesquisa{
    display:block;
    margin-top:5% ;
    width:25% ;
   /* border: solid;*/
}
.pesquisa input{
      width: 80%;
      height:30px;
      border-radius:15px ;
}
hr{
 border: solid 2px  #269c65;;
}
main{ 
    background-color: #ffffff;
    background-image: url(images/fundo.jpg);
    background-size:cover;
    

}

main h1{
   padding: 15px;
}

.filera{
    display: flex;
    justify-content: space-evenly;
}
.card:hover{
    border: solid 8px #15b91839; 
    shadow: black 10px;
}
.card{
    border: solid 1px #15b9189e;
    margin-left:40px;
    border-radius:15px;
    width:300px;
    background:#ffffff;
    height:590px;
}


.fav{

    padding-top: 7px;
    padding-right:7px ;
    text-align: end;
}
.produto img{
    width:100%;
}
.descPro{
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}
.valorAntigo{
    padding-top: 15px;
    padding-inline:15px ;
    width:100% ;
    
}
 .valorAtual{
    width: 100%;
    text-align: center;
    font-size:30px;
    padding-top: 15px;
 }
 .butom{
    padding:10px;
    display: flex;
    justify-content: space-around;
 }

button{
    font-size:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content:space-evenly;
    display:flex;
    align-items:center;
    background-color: rgb(187, 245, 255);
    height:40px;
    width: 95%;
    border-radius:10px;
    padding:20px;
    border:none;
}
 
button.img{

}