*{  margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    background:whitesmoke;
    background-size: cover;
    display:block;
}
header h2{
    width: 100%;
    padding : 10px;
    text-align: center;
    background: #269c65;
    color: azure;
}
.imgMenu{
    display:flex
}

.imgMenu img{
    width:25%;
    padding:15px;
}
nav {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 80%;
}
 li :visited {
 color: black;
}
li:hover{
    font-size: 23px;
    color : green;
}

nav ul{
    /*border:solid;*/
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly   
}
nav li {
    /*border:solid;*/
    font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-size: 20px ;
    display:inline-flex;
    padding: 10px;   
}
li a{
    text-decoration: none;
}
.pesquisa{
    display:block;
    margin-top:5% ;
    width:25% ;
   /* border: solid;*/
}
.pesquisa input{
      width: 80%;
      height:30px;
      border-radius:15px ;
}
 main {
    background-color: #ffffff;
    background-image: url(images/fundo2.jpg);
    background-size:cover;
    
}
.tituloContato{

    text-align: center;
    padding:40px;
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans';
    font-size: 30px;  
}
/*div contato geral*/
.contato{
    display: flex;
    margin-top:2%;
    margin-left:10% ;
    /*justify-content: center;*/
}
/*formulario geral*/
form{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    font-size:18px;
}
label {
    border-radius: 8px;
    padding-left:10px ;
    padding-right: 10px;
    background-color:  #02892883;
    width: max-content;
    color: #ffffff;
    font-size:20px;
}
/*divs do formulario*/
form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 500px;
    
}
/*inputs do formulario*/
 div .formu {
    border: 3px #028928 solid ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
    border-radius: 12px;
 }
 .formu:focus {
    background-color: #8ce9a5a7;
}
 /*opocoes select*/
 div select {
    border: 3px #028928 solid ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:5px;
    border-radius: 12px;
 
 }
 select:focus {
    background-color: #8ce9a5a7;
}
 /*text area*/
 div textarea { 
    border: 3px #028928 solid ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
 }
 textarea:focus {
    background-color: #8ce9a5a7;
}
 /*check box*/
.orcamento{
    border-radius: 5px;
    display: inline;
    background-color: #375a41a8;
    color: #ffffff;
    
}
/*botom enviar*/
.butom {
    border: 3px #028928 solid ;
    border-radius: 15px;
    padding-right: 5px;
    margin-top: 20px;
    width:120px;
    height:40px;
    margin-left: 442px;
    background-color:  #375a41a8;
    color: #ffffff;
    font-size:20px;

}